@import "tailwindcss";
@plugin "daisyui";

/* Banner dot */
.bg-dot-pattern {
  background-image: radial-gradient(circle, #d28faf 1px, transparent 1px);
  background-size: 20px 20px;
}

.mask-left-to-right-fade {
  mask-image: linear-gradient(to right, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

/* Meteors */
@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

.clip-hexagon {
  clip-path: polygon(25% 5%, 75% 5%,
      100% 50%, 75% 95%,
      25% 95%, 0% 50%);
}

/* styles/globals.css */
@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-text-gradient {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}

/* Skill css */
@keyframes borderSpin {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.animate-borderSpin {
  animation: borderSpin 3s linear infinite;
}

.shiny:hover {
  position: relative;
  overflow: hidden;
}

.shiny:hover::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg,
      transparent 0%,
      rgba(255, 255, 255, 0.3) 50%,
      transparent 100%);
  transform: rotate(45deg);
  animation: shineMove 1s ease-in-out;
}

@keyframes shineMove {
  from {
    transform: translateX(-100%) rotate(45deg);
  }

  to {
    transform: translateX(100%) rotate(45deg);
  }
}

/* normal */

@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}