@import "tailwindcss";
@plugin "daisyui";

/* Banner dot */
.bg-dot-pattern {
  background-image: radial-gradient(circle, #d28faf 1px, transparent 1px);
  background-size: 20px 20px;
}

.mask-left-to-right-fade {
  mask-image: linear-gradient(to right, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 60%, transparent 100%);
}

/* Meteors */
@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

/* styles/globals.css */
@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-text-gradient {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}

@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}